<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="HelloWorld" class="com.excilys.formation.projet.test.HelloWorld">
		<property name="message" value="Hello Guys!"/>
	</bean>
	
	<bean id="MessageService" class="com.excilys.formation.projet.test.MessageService">
		<property name="message"></property>
	</bean>
	
	<!-- <bean id="factoryDAO" class="com.excilys.projet.dao.DAOFactory">
		
	</bean>
	
	<bean id="companyAccess" class="com.excilys.formation.projet.dao.impl.CompanyDAO">
		<property name="factoryDAO" ref="factoryDAO"/>
	</bean>
	
	<bean id="computerAccess" class="com.excilys.formation.projet.dao.impl.ComputerDAO">
		<property name="factoryDAO" ref="factoryDAO"/>
	</bean>
	
	<bean id="logAccess" class="com.excilys.formation.projet.dao.impl.LogDAO">
		<property name="factoryDAO" ref="factoryDAO"/>
	</bean>-->
 </beans>